
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* shared style */
.text-primary{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 35px;
    border-radius: 10px;
    border: none;
    text-align: center;
}
.button-container {
    margin-top: 20px;
}

/* header */
header{
    background-image: url(../Assets/Hero-bg.png);
    background-size: auto;
    background-repeat: repeat;
    background-position:top;
}
/* Nav styles */
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
     font-weight: 800;
     font-size: 34px;
}
nav ul li{
    list-style: none;
}
nav ul{
    display:flex;
}
/* banner-styles */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 150px 0;
}
.banner-title{
 font-size: 65px;
 font-weight: bold;
 border-radius: 0px;
 margin: 0 ;
 padding: 0;
 text-align:center;
}
.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    gap: 20px;
}
/* main  */
/* action-style */
.action{
    display: flex;
    justify-content: space-between;
    margin: 116px 159px 116px 141px;
}
.action-content{
    max-width: 1140px;
    text-align: top left;
}
.action-title{
    font-size: 42px;
    font-weight:bold;
    text-align: top left;
    text-shadow: 0px 4px 4px #2b2b298f;
    margin: 35px 0 45px 0;
}
.action-description{
    font-size: 24px;
    color: #252432c7;
}
.action-profile-pic{
    width: 403px;
    border: none;
    border-radius: 48px;
}